body {
  background-color: rgb(232, 223, 255);
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
  color: rgb(44, 44, 44);
}
h1 {
  color: rgb(83, 49, 156);
  margin: 14px 0 28px 0;
}
.container {
  background-color: white;
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 0 64px 64px 64px;
  position: relative;
  box-sizing: border-box;
}

.tabs {
  display: flex;
  width: 100%;
  justify-content: space-around;
  color: rgb(200, 175, 255);
  font-weight: bold;
  padding: 16px;
  text-transform: uppercase;
}
.tabs p {
  padding: 8px;
}
.tabs p.active {
  color: rgb(83, 49, 156);
  position: relative;
}

.tabs p:hover {
  cursor: pointer;
  color: rgb(83, 49, 156);
}

.line {
  height: 4px;
  width: 100%;
  background-color: rgb(231, 231, 231);
  position: absolute;
  top: 98px;
}

.tabs p.active::before {
  content: "";
  height: 4px;
  width: 200%;
  background-color: rgb(83, 49, 156);
  position: absolute;
  bottom: -32px;
  z-index: 2;
  left: -50%;
  border-radius: 10px;
}

.toogle-wrapper {
  display: flex;
  margin-top: 30px;
}
.toogle-wrapper img {
  height: 40px;
  padding: 0 16px;
}
.toogle {
  background-color: rgb(83, 49, 156);
  height: 32px;
  width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px 0 16px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.toogle span:first-of-type {
  color: white;
}
.toogle span:last-of-type {
  background-color: white;
  color: rgb(83, 49, 156);
  padding: 4px 16px;
  border-radius: 20px;
}
.session-card {
  background-color: rgb(250, 247, 255);
  text-align: center;
  padding: 32px;
  width: 50%;
  margin: 16px 0;
  border-radius: 10px;
}

.session-card p {
  color: rgb(44, 44, 44);
  font-weight: bold;
  font-size: 14px;
  margin: 16px 0 0 0;
}
.session-card .number {
  color: rgb(83, 49, 156);
  font-size: 54px;
  margin: 0;
}

.description {
  margin: 16px 0 32px 0;
  line-height: 30px;
}

.slider {
  width: 100%;
  position: relative;
  margin-bottom: 16px;
}

.slider .bar {
  height: 16px;
  width: 100%;
  background-color: rgb(248, 248, 248);
  border-radius: 20px;
  border: 1px solid rgb(210, 210, 210);
}
.slider .bar .progress {
  height: 18px;
  width: 35%;
  background: linear-gradient(
    90deg,
    rgb(2, 0, 36, 1) 0%,
    rgb(53, 10, 74, 1) 36%,
    rgb(83, 49, 156, 1) 100%
  );
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
.slider .bar .point {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: rgb(83, 49, 156);
  position: absolute;
  border: 2px solid white;
  top: -4px;
  left: 34%;
  transition: tansform 0.5s ease;
}

.slider .point:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.scale ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0;
  font-weight: bold;
  color: rgb(166, 166, 166);
}

.card-wrapper {
  display: flex;
}

.card {
  background-color: rgb(250, 247, 255);
  margin: 16px;
  padding: 16px 32px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 3px 11px 1px rgb(0, 0, 0, 0.1);
  font-weight: bold;
  color: rgb(83, 49, 156);
  transition: transform 0.1s ease;
  position: relative;
}
.card:hover {
  transform: translateY(-8px);
}
.card .top-section {
  padding: 8px;
  text-transform: uppercase;
}
.card .top-section p {
  margin: 4px 0px;
}
.card .price {
  color: rgb(44, 44, 44);
  font-size: 42px;
}

.card hr {
  width: 30%;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 2px;
}

.card button {
  background-color: rgb(83, 49, 156);
  color: white;
  padding: 16px;
  border-radius: 10px;
  border-style: none;
  transition: transform 0.2s ease;
  font-weight: bold;
  margin: 8px 0;
}

.card button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card .save-header {
  color: white;
  background: linear-gradient(
    90deg,
    rgb(2, 0, 36, 1) 0%,
    rgb(53, 10, 74, 1) 36%,
    rgb(83, 49, 156, 1) 100%
  );
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
